@use "../../../styles/functions.scss" as f;

.header__book-a-table {
  display: flex;
  flex-direction: column;
  gap: f.pxToRem(48);
  align-items: center;
  margin: 0 -24px;

  >.item {
    text-align: center;
    padding: 0 f.pxToRem(24);
    overflow: hidden;
  }

  .img {
    max-width: 100%;
    height: auto;
    vertical-align: auto;
    animation: full-rotation 50s linear infinite;
  }
}

@media (min-width: 992px) {
  .header__book-a-table {
    flex-direction: row;
    gap: 0;

    >.item {
      text-align: left;
      flex: 0 0 auto;
      width: 50%;
    }
  }
}