@use "../../../styles/functions.scss" as f;

.header-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: f.pxToRem(16);

  list-style: none;

  text-transform: uppercase;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    &:not(:first-child) {
      padding-left: f.pxToRem(8);

      &::before {
        color: rgba(255, 255, 255, .5);
        content: "/";
        float: left;
        padding-right: f.pxToRem(8);
      }
    }
  }
}